body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    height: 300px;
    background: #1f2937;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;

}

.logo {
    display: flex;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
}


.coffee-img {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}